<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/guardar" method="post">
        id:
        <input type="text" name="id" id="id">

        adiccion:
        <input type="text" name="adiccion" id="adiccion">

        causa:
        <input type="text" name="causa" id="causa">

        <input type="submit" value="guardar">
        </form>
</body>
</html>